* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  border-bottom: 2px solid #bdc3c7;
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
}

.dark {
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 15px;
}
